<!doctype html>
<%#include "marketingunit.h" %>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title><%= controller()->name() + ": " + controller()->activeAction() %></title>
<script src="/laydate/laydate.js"></script>
<style>
html{ font-size:14px; color:#000; font-family:'微软雅黑'}
h2{line-height:30px; font-size:20px;}
a,a:hover{ text-decoration:none;}
pre{font-family:'微软雅黑'}
.box{width:970px; padding:10px 20px; margin:10px auto;}
.box a{padding-right:20px;}
</style>
</head>

<body>
<p style="color: red"><%=$ error %></p>
<%== formTag(urla("showform"), Tf::Post) %>
		<p>
		    <input placeholder="请输入开始日期" class="laydate-icon" name="start" onclick="laydate()">
		</p>

		<p>
			  <input placeholder="请输入结束日期" class="laydate-icon" name="end" onclick="laydate()">
		</p>

		<p>
	    		<input  type="submit" value="查询" />
	  </p>
				<script>
							laydate.skin('danlan');
				</script>
  </form>
</body>
</html>