<!doctype html>
<%#include "assetsunit.h" %>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/common.css">
	<script type="text/javascript" src="/easyui/jquery.min.js"></script>
	<script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
	<style type="text/css">
        .fitem label{
            display:inline-block;
            width:80px;
        }
        .ftitle{
            font-size:14px;
            font-weight:bold;
            padding:5px 0;
            margin-bottom:10px;
            border-bottom:1px solid #ccc;
        }
        .fitem1{
            margin-bottom:5px;
        }
        .fitem1 label{
            display:inline-block;
            width:85px;
        }

	
    </style>
</head>
<body style="padding:4px">
	<ul>
		<li style="float:left;padding-right:10px;">
			<!-- table-left -->
			<table id="table1" class="easyui-datagrid" style="width:500px;height:450px;"
					data-options="fitColumns:true,rownumbers:true,singleSelect:true,url:'/Assetsunit/getAssetsUnitManagerList',method:'get',toolbar:'#tb1'">
				<thead>
					<tr>
						<th data-options="field:'managerID',width:110,sortable:true">资产管理人</th>
						<th data-options="field:'assetsUnitID',width:110">资产单元ID</th>
						<th data-options="field:'assetsUnitShortname',width:110">资产单元简称</th>
					</tr>
				</thead>
			</table>
			<div id="tb1" style="padding:2px 5px;">
				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newManager()">添加</a>
				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editManager()">修改</a>
				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="deleteManager()">删除</a>
				<input class="easyui-searchbox" data-options="prompt:'输入关键字',menu:'#s_category',searcher:doSearch_table1" style="width:300px"></input>
				<div id="s_category">
					<div data-options="name:'managerID'">资产管理人</div>
					<div data-options="name:'assetsUnitID'">资产单元ID</div>
					<div data-options="name:'assetsUnitShortname'">资产单元简称</div>
				</div>
			</div>

			<div id="dlg" class="easyui-dialog" style="width:315px;height:215px;padding:10px 20px"
            closed="true" buttons="#dlg-buttons">
				<div class="ftitle">资产单元</div>
				<form id="fm" method="post">
					<div class="fitem">
						<label>资产管理人:</label>
						<input id="input_m" name="assetsUnit[managerID]" validType="number" class="easyui-textbox" required="true">
					</div>
					<div class="fitem">
						<label>资产单元ID:</label>
						<input id="input_au" name="assetsUnit[assetsUnitID]" validType="number" class="easyui-textbox" required="true">
					</div>
					<div class="fitem">
						<label>资产单元简称:</label>
						<input name="assetsUnit[assetsUnitShortname]" validType="text" class="easyui-textbox" required="true">
					</div>
				</form>
			</div>
			<div id="dlg-buttons">
				<a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveManager()" style="width:90px">保存</a>
				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
			</div>
		</li>
		<li>
			<!-- table-right -->
			<table id="table2" class="easyui-datagrid" style="width:500px;height:450px;"
					data-options="fitColumns:true,rownumbers:true,singleSelect:true,url:'/Assetsunit/getMarketingUnitList',method:'get',toolbar:'#tb2'">
				<thead>
					<tr>
						<th data-options="field:'m_assetsUnitID',width:110">资产单元ID</th>
						<th data-options="field:'marketingUnitID',width:110">交易单元ID</th>
						<th data-options="field:'marketingUnitShortname',width:110">交易单元简称</th>
					</tr>
				</thead>
			</table>
			<div id="tb2" style="padding:2px 5px;">
				    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editMarketingUnit()">修改</a>
					<input class="easyui-searchbox" data-options="prompt:'输入关键字',menu:'#s_category1',searcher:doSearch_table2" style="width:300px"></input>
					<div id="s_category1">
					<div data-options="name:'m_assetsUnitID'">资产单元ID</div>
					<div data-options="name:'marketingUnitID'">交易单元ID</div>
				</div>
			</div>

			<div id="dlg1" class="easyui-dialog" style="width:315px;height:215px;padding:10px 20px"
            closed="true" buttons="#dlg-buttons">
				<div class="ftitle">交易单元</div>
				<form id="fm1" method="post">
					<div class="fitem">
						<label>资产单元ID:</label>
						<input id="input_ma" name="marketingUnit[m_assetsUnitID]" validType="number" class="easyui-textbox" required="true" disabled>
					</div>
					<div class="fitem">
						<label>交易单元ID:</label>
						<input id="input_mm" name="marketingUnit[marketingUnitID]" validType="number" class="easyui-textbox" required="true" disabled>
					</div>
					<div class="fitem">
						<label>交易单元简称:</label>
						<input name="marketingUnit[marketingUnitShortname]" validType="text" class="easyui-textbox" required="true">
					</div>
				</form>
			</div>
			<div>
			<div id="dlg-buttons">
				<a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveMU()" style="width:90px">保存</a>
				<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg1').dialog('close')" style="width:90px">取消</a>
			</div>
		</li>
		<li style="margin-left:10x;margin-top:10px;">
			<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-reload'" style="width:80px;" onClick="javascript:$('.easyui-datagrid').datagrid('reload')">刷新</a>
			<a href="#" class="easyui-linkbutton"  style="width:100px;" onClick="Allot()">资金调拨</a>
			<a href="#" class="easyui-linkbutton"  style="width:100px;" onClick="Transfer()">资金划转</a>
			
		</li>
	</ul>
        <div>
        	<div id="dlg2" class="easyui-dialog" title="资金划转" style="width:410px;height:auto;padding:10px 20px"
            closed="true" buttons="#dlg-buttons" >
		    <div class="ftitle">账户信息</div>
              <form id="form2" method="post" novalidate>
                <div class="fitem1">
                    <label>资产单元:</label>
                      <input name="assetsTransfer[srcUnitID]" class="easyui-textbox" style="width:238px"  validType="number">
                </div>
			<div class="ftitle">资金划转</div>
					<div class="fitem1">
						<label>划转金额:</label>
						<input id="input_zr" class="easyui-textbox" type="text" value="  ↑转入↑" style="width:60px;" />
						<input name="assetsTransfer[muvalue]"  class="easyui-textbox" style="width:173px;" required="true" validType="number" />
					</div>
					<div class="fitem1">
						<label>对象帐号:</label>
						<input name="assetsTransfer[destUnitID]"  class="easyui-textbox" style="width:238px;" required="true" validType="number" />
					</div>
					<div class="fitem1">
						<label>交易单元简称：</label>
						<input name="assetsTransfer[musname]"  class="easyui-textbox" style="width:238px;" required="true" validType="text" />
					</div>
					<div class="fitem1">
						<label>交易单元全称：</label>
						<input name="assetsTransfer[muname]"  class="easyui-textbox" style="width:238px;" />
					</div>
			</div>
		</form>
		<div id="dlg-buttons">
          <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="assetsTransfer()" style="width:90px">确定</a>
          <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg2').dialog('close')" style="width:90px">取消</a>
         </div>
       </div>
         <div id="dlg3" class="easyui-dialog" title="资金调拨" style="width:410px;height:auto;padding:10px 20px"
            closed="true" buttons="#dlg-buttons" >
		  <div class="ftitle">账户信息</div>
          <form id="form1" method="post" novalidate>
            <div class="fitem1">
                <label>资产单元:</label>
                <input name="assetsTransfer[srcUnitID]" class="easyui-textbox"  style="width:238px"  validType="number" />
            </div>  
			
			<div class="ftitle">资金调拨</div>
				<div class="fitem1">
					<input id="input_tz" class="easyui-textbox"  type="text" value="调整到" style="width:85px;" />
					<input name="assetsTransfer[amount]" class="easyui-textbox" style="width:243px;" />
				</div>
				<div class="fitem1">
					<label>备注:</label>
					<input name="assetsTransfer[remarks]" class="easyui-textbox" style="width:243px;" />
				</div>
			</div>
          </form>
       </div>
        <div id="dlg-buttons">
          <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="assetsAllot()" style="width:90px">确定</a>
          <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg3').dialog('close')" style="width:90px">取消</a>
         </div>
    </div>
	<script>
		var url;

		function doSearch_table1(val, name){
			$('#table1').datagrid({queryParams:{category:name, value:val}});
		}
		function doSearch_table2(val, name){
			$('#table2').datagrid({queryParams:{category:name, value:val}});
		}
		function newManager(){
			url = '/AssetsUnit/createAssetsUnit';
			var row = $('#table1').datagrid('getSelected');
			if(row){
				$('#dlg').dialog('open').dialog('setTitle','资产单元管理');
				$('#fm').form('clear');

				$('#fm').form('load',{
					'assetsUnit[managerID]':row['managerID'],
				});

				$('#input_m').combobox('disable');
				$('#input_au').combobox('enable');
			}else{
				alert('未选择资产管理人');
			}
		}
		function editManager(){
			url = '/AssetsUnit/editAssetsUnit';
			var row = $('#table1').datagrid('getSelected');
			if(row){
				$('#dlg').dialog('open').dialog('setTitle','资产单元管理');
				$('#fm').form('clear');

				$('#fm').form('load',{
					'assetsUnit[managerID]':row['managerID'],
					'assetsUnit[assetsUnitID]':row['assetsUnitID'],
					'assetsUnit[assetsUnitShortname]':row['assetsUnitShortname']
				});

				$('#input_m').combobox('disable');
				$('#input_au').combobox('disable');
			}else{
				alert('未选择资产单元');
			}
		}
		function saveManager(){
			$('#fm').form('submit',{
				url:url,
                onSubmit: function(){
                    return $(this).form('validate');
                },
                success: function(result){
					$('#response', parent.document).text(result);
					$('#dlg').dialog('close');        // close the dialog
					$('#table1').datagrid('reload');    // reload the user data	
                }
            });
		}
		function deleteManager(){
            var row = $('#table1').datagrid('getSelected');
            if (row){
				$.messager.defaults.ok='确定'
				$.messager.defaults.cancel='取消';
                $.messager.confirm('删除','是否删除该资产单元?',function(r){
                    if (r){
                        $.post('/Assetsunit/removeAssetsUnit/',
							{assetsUnitID:row['assetsUnitID']},
							function(result){
								$('#response', parent.document).text(result);
                                $('#table1').datagrid('reload');    // reload the user data
                        },'text');
                    }
                });
            }else{
				alert('未选择资产单元');
			}
        }
        function editMarketingUnit(){
        	url = '/AssetsUnit/editMarketingUnit';
			var row = $('#table2').datagrid('getSelected');
			if(row){
				$('#dlg1').dialog('open').dialog('setTitle','交易单元管理');
				$('#fm1').form('clear');

				$('#fm1').form('load',{
					'marketingUnit[marketingUnitID]':row['marketingUnitID'],
					'marketingUnit[m_assetsUnitID]':row['m_assetsUnitID'],
					'marketingUnit[marketingUnitShortname]':row['marketingUnitShortname']
				});
			}else{
				alert('未选择交易单元');
			}
        }
        function saveMU(){
			$('#fm1').form('submit',{
				url:url,
                onSubmit: function(){
                    return $(this).form('validate');
                },
                success: function(result){
					$('#response', parent.document).text(result);
					$('#dlg1').dialog('close');        // close the dialog
					$('#table2').datagrid('reload');    // reload the user data	
                }
            });
		}
		function Transfer(){
             var row = $('#table1').datagrid('getSelected');
			if(row){
				$('#dlg2').dialog('open');
				$('#form2').form('clear');
				$('#form2').form('load',{
					'assetsTransfer[srcUnitID]':row['assetsUnitID'],
					
				});
				// $('#input_zr').combobox('disable');
			}else{
				alert('未选择资产单元');

			}
		}
		function Allot(){
			 var row = $('#table1').datagrid('getSelected');
			if(row){
				$('#dlg3').dialog('open');
				$('#form1').form('clear');
				$('#form1').form('load',{
					'assetsTransfer[srcUnitID]':row['assetsUnitID'],
					
				});
				// $('#input_tz').combobox('disable');
			}else{
				alert('未选择资产单元');
			}
		}
		function assetsTransfer(){ 
			$('#form2').form('submit',{
				url:'/AssetsUnit/assetsTransfer',
                onSubmit: function(){
                    return $(this).form('validate');
                },
                success: function(result){
					$('#dlg2').dialog('close');        // close the dialog
                }
            });
		}
		function assetsAllot(){
           	$('#form1').form('submit',{
				url:'/AssetsUnit/assetsTransfer',
                onSubmit: function(){
                    return $(this).form('validate');
                },
                success: function(result){
					$('#dlg3').dialog('close');        // close the dialog
                }
            });
		}
		function loadData(){
			alert('load');
		
		}
	</script>
 </body>
</html>