<!doctype html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/common.css">
	<script type="text/javascript" src="/easyui/jquery.min.js"></script>
	<script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
</head>
<body style="margin-top:4px;padding-left:4px;">
	<div title="资产单元资金变动日志" style="width:800px;height:460px;padding:4px;">
		<!-- table-left -->
		<table id="optlog_tb" style="width:660px;">
			<thead>
				<tr>
					<th data-options="field:'operatorID',width:120">操作员ID</th>
					<th data-options="field:'type',width:120">操作类型</th>
					<th data-options="field:'result',width:120">操作结果</th>
					<th data-options="field:'time',width:120">操作时间</th>
					<th data-options="field:'remarks',width:'auto'">详细</th>
				</tr>
			</thead>
		</table>
	</div>

	<div style="margin-top:4px">
	<ul type="none">
		<li style="float:left;margin-left:4px;"><a href="#" class="easyui-linkbutton" style="width:80px;">详细查询</a></li>
	</ul>
	<script>
		$('#optlog_tb').datagrid({
			nowrap: true, 
			height:'auto',
			fit: true,
			rownumbers:true,
			fitcolumns:true,
			singleSelect:true,
			url:'/AssetsUnit/getAUOptLogList',
			method:'get',
			pagination:true
		});

		var p = $('#optlog_tb').datagrid('getPager');
		$(p).pagination({
			pageList: [10,15,20],
			beforePageText: '第',
			afterPageText: '页    共 {pages} 页',
			displayMsg:''
		});
	</script>
 </body>
</html>
