<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn"> 
<head>
	<meta charset="UTF-8">
	<title>CMS管理系统</title>
	<link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/common.css">
	<script type="text/javascript" src="/easyui/jquery.min.js"></script>
	<script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="/index.js"></script>
	<style>
		#menuTab li {margin:4px; width:140px; height:30px; border:1px solid #bbb; line-height:30px; text-align:left;}
		#menuTab a {margin-left:5px;}
	</style>
</head>
 <body style="background-color:rgb(227,247,254);">
	<div id="operatorID_show">
        <label style="line-height:20px;text-align:center;">operatorID: <% tehex(operatorID); %></label>
    </div>
	<div class="easyui-tabs" style="width:100%;height:600px;" data-options="tools:'#operatorID_show'">
		<div title="欢迎页" data-options="closable:true" style="padding:20px;overflow:hidden;">   
			<div style="margin-top:20px;">  
				<h3>CMS管理系统</h3>  
			</div>  
		</div>
		<!-- tab1 -->
		<div title="资产单元" style="width:700px;height:100%;padding:10px;">
			<div class="easyui-layout" data-options="fit:true">
				<!-- left -->
				<div region="west" title="资产单元" split="true" style="width:200px;padding:1px;overflow:hidden;">
					<div id="menuTab" class="easyui-accordion" fit="true" border="false">  
						<ul type="none" style="padding-left:22px;padding-top:10px;">  
							<li><a href="javascript:addTab('资产单元管理','/assetsunit/AUManagment/')">资产单元管理</a></li>  
							<li><a href="javascript:addTab('资产账户管理','assets_unit_2.html')">资产账户管理</a></li>
							<li><a href="javascript:addTab('资产单元资产视图','assets_unit_3.html')">资产单元资产视图</a></li>
							<li><a href="javascript:addTab('资产账户调拨','/assetsunit/AUTransfer/')">资产账户调拨</a></li>
							<li><a href="javascript:addTab('资产单元操作日志','assets_unit_5.html')">资产单元操作日志</a></li>
							<li><a href="javascript:addTab('资产单元统计报表','assets_unit_6.html')">资产单元统计报表</a></li>
							<li><a href="javascript:addTab('资产单元风控监视','assets_unit_7.html')">资产单元风控监视</a></li>
						</ul>  
					</div>  
				</div> 
				<!-- right -->
				<div region="center" style="overflow:hidden;">
					<!-- content tabs -->
					<div class="easyui-tabs" id="contentTab" fit="true" border="false" style="height:100%;overflow:hidden;">    
					</div>  
				</div>  
			</div>
		</div>
		<!-- tab2 -->
		<div title="交易单元" style="width:700px;height:100%;padding:10px;">
			<div class="easyui-layout" data-options="fit:true">
				<!-- left -->
				<div region="west" title="交易单元" split="true" style="width:200px;padding:1px;overflow:hidden;">
					<div id="menuTab" class="easyui-accordion" fit="true" border="false">  
						<ul type="none" style="padding-left:22px;padding-top:10px;">  
							<li><a href="javascript:addPage('交易单元管理','/marketingunit/index/')">交易单元管理</a></li>  
							<li><a href="javascript:addPage('交易单元统计报表','/marketingunit/reportform/')">交易单元统计报表</a></li>
						</ul>  
					</div>  
				</div> 
				<!-- right -->
				<div region="center" style="overflow:hidden;">
					<!-- content tabs -->
					<div class="easyui-tabs" id="contentPage" fit="true" border="false" style="height:100%;overflow:hidden;">   
					</div>  
				</div>  
			</div>
		</div>
	</div>
	<div class="footer" style="margin-top:8px">
		<label id="response" style="font-size:2px"><%=$ response %></label>
	</div>
 </body>
</html>