Makefile
/controllers/Makefile
/controllers/Makefile.Debug
/controllers/Makefile.Release
/models/Makefile
/models/Makefile.Debug
/models/Makefile.Release
/views/Makefile
/views/_src/*
!/views/_src/_src.pro

/db

/helpers/*
!/helpers/applicationhelper.cpp
!/helpers/applicationhelper.h
!/helpers/helpers.pro

/lib/*

/log/*

/tmp

*/debug/*
