<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%#include "cms.h" %>
<%#include "operators.h" %>
<% tfetch(QVariantMap, operators); %>
<% tfetch(QString,adminID); %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= controller()->name() + ": " + controller()->activeAction() %></title>
<style type="text/css">
#form1 table tr td {
  font-size: small;
}
#maxDiv{
  position: absolute;
  width: 550px;
  height: 55px;
  left: 372px;
  top: 23px;
  }
#apDiv1{
  position: absolute;
  width: 550px;
  height: 389px;
  left: 371px;
  top: 84px;
}
</style>
<script>
function checkAll()
{
  var operatorID = document.getElementById("operators[operatorID]").value;
  var operatorName = document.getElementById("operators[operatorName]").value;
  var operatorNickname = document.getElementById("operators[operatorNickname]").value;
  var operatorPassword = document.getElementById("operators[operatorPassword]").value;
  var operatorPhone = document.getElementById("operators[operatorPhone]").value;
  var ID = document.getElementById("operators[id]").value;
  var operatorRole = document.getElementById("operators[operatorRole]").value;
  var operatorStatus = document.getElementById("operators[operatorStatus]").value;
  operatorID = operatorID.replace(/^\s+|\s+$/g, "");
  operatorName = operatorName.replace(/^\s+|\s+$/g, "");
  operatorNickname = operatorNickname.replace(/^\s+|\s+$/g, "");
  operatorPassword = operatorPassword.replace(/^\s+|\s+$/g, "");
  operatorPhone = operatorPhone.replace(/^\s+|\s+$/g, "");
  ID = ID.replace(/^\s+|\s+$/g, "");
  operatorRole = operatorRole.replace(/^\s+|\s+$/g, "");
  operatorStatus = operatorStatus.replace(/^\s+|\s+$/g, "");
  
  if(operatorID == "" || operatorName == "" || operatorNickname == "" || operatorPassword == "" || operatorPhone == "" || 
     ID == "" || operatorRole == "" || operatorStatus == ""){
       alert("所有项必须填写!");
      return false;
    }else{
      return true;
      } 
  }
</script>
</head>

<body>
<div id="maxDiv">
<p style="color: red" align="center"><%=$ error %></p>
</div>
<div id="apDiv1">
<%== formTag(urla("create"), Tf::Post) %>
  <table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td height="35" colspan="2" align="center" bgcolor="#FFFF33" style="font-size: medium">新建操作员</td>
    </tr>
    <tr>
      <td width="125" height="30" align="right">操作员编号：</td>
      <td height="30"><label for="operators[operatorID]"></label>
      <input name="operators[operatorID]" type="text" id="operators[operatorID]" size="15" maxlength="10" /></td>
    </tr>
    <tr>
      <td width="125" height="30" align="right">操作员名字：</td>
      <td height="30"><label for="operators[operatorName]"></label>
      <input name="operators[operatorName]" type="text" id="operators[operatorName]" size="15" maxlength="10" /></td>
    </tr>
    <tr>
      <td width="125" height="30" align="right">操作员简称：</td>
      <td height="30"><label for="operators[operatorNickname]"></label>
      <input name="operators[operatorNickname]" type="text" id="operators[operatorNickname]" size="15" maxlength="10" /></td>
    </tr>
    <tr>
      <td width="125" height="30" align="right">密码：</td>
      <td height="30"><label for="operators[operatorPassword]"></label>
      <input name="operators[operatorPassword]" type="password" id="operators[operatorPassword]" size="20" maxlength="15" /></td>
    </tr>
    <tr>
      <td width="125" height="30" align="right">电话：</td>
      <td height="30"><label for="operators[operatorPhone]"></label>
      <input name="operators[operatorPhone]" type="text" id="operators[operatorPhone]" size="15" maxlength="12" /></td>
    </tr>
    <tr>
      <td width="125" height="30" align="right">证件号码：</td>
      <td height="30"><label for="operators[id]"></label>
      <input name="operators[id]" type="text" id="operators[id]" size="20" maxlength="20" /></td>
    </tr>
    <tr>
      <td width="125" height="30" align="right">角色：</td>
      <td height="30"><label for="operators[operatorRole]"></label>
      <input name="operators[operatorRole]" type="text" id="operators[operatorRole]" size="5" maxlength="5" /></td>
    </tr>
    <tr>
      <td width="125" height="30" align="right">状态：</td>
      <td height="30"><label for="operators[operatorStatus]"></label>
      <input name="operators[operatorStatus]" type="text" id="operators[operatorStatus]" size="5" maxlength="5" /></td>
    </tr>
    <tr>
      <td height="25" colspan="2" align="right" bgcolor="#FFFF33">&nbsp;</td>
    </tr>
    <tr>
      <td height="30" colspan="2" align="center" valign="bottom"><input type="submit" name="tijiao" id="tijiao" value="提交" onclick="return checkAll();"/>
        　
          <input type="reset" name="chongxie" id="chongxie" value="重写" /></td>
    </tr>
    <tr>
      <td height="25" colspan="2" align="center" valign="bottom"><%== linkTo("Back", urla("list_operator",adminID)) %></td>
    </tr>
  </table>
</form>
</div>
</body>
</html>
